.button {
    width: 12rem;
    height: 4.5rem;
    border-radius: 2rem;
    background-color: #25d366;
    color: black;
    border: 1px solid black;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: .2s ease all;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

button img {
  width: 1.2rem;
}

.button:hover {
  background-color: #3ff381;
}